/* header */
header {
    background-color: yellow;
}
header .event_bg {
    background-color:#aaa; height:40px;
}
header .event_bg p {
    text-align:center; line-height:40px;
}
header .h_middle {
    background-color:skyblue;
    margin:0 auto; width:1300px;
    overflow:hidden; height:104px;
}
header .h_middle h1 {
    background-color:pink; float:left;
    font-size:2.074rem; font-weight:700;
    margin:40px 0 0 582px;
}
header .h_middle .lnb {
    float:right; margin:40px;
}
header .h_middle .lnb .left {
    background-color:greenyellow;
    float:left;
}
header .h_middle .lnb .left li {
    float:left;
}
header .h_middle .lnb .left li a {
    background-color:plum;
    margin-right:21px;
}
header .h_middle .lnb .right {
    background-color:hotpink;
    float:right;
}
header .h_middle .lnb .right li {
    float:left;
}
header .h_middle .lnb .right li a {
    background-color:orange; width:30px; height:30px;
    display:inline-block; line-height:30px; margin-right:20px;
}
header .h_middle .lnb .right li a img {width:100%;}
header nav {
    background-color:coral;
}
header nav ul {}
header nav ul li {}
header nav ul li a {
    background-color: cornflowerblue;
}
/* side_menu */
.side_menu {
    background-color:yellow;
}
.side_menu a {
    background-color: blueviolet;
}
/* main */
main .main {
    background-color:pink;
}
main .banner {}
main .banner a {}
main h3 {
    background-color:goldenrod;
}
main .items {
    background-color:skyblue;
}
main .items li {}
main .items li p {}
main .items li p a {
    background-color:yellowgreen;
}
main .items li p a img {}
main .items li p span {}
main .items li p em {}
main .items li p strong {}
main .sappun_made {}
main .sappun_made p {}
main .sappun_made p a {}
/* footer */
footer {background-color:blanchedalmond;}
footer .f_top {
    background-color:aqua;
}
footer .f_top li {}
footer .f_top li a {
    background-color:yellow;
}
footer address {}