main {
    background-color:rgba(0,0,0,0.8);
    padding:50px;
}
main .box {
    border:5px dotted #fff;
    border-radius:100px;
    width:200px; height:200px;
    font-size:4rem;
    text-align:center;
    line-height:200px;
    /* line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙으로 온다(1행일 경우에만 가능 */
}
main .a {
    float:left;
    /* padding(안쪽여백)추가 시 실제 크기에 변화를 주지 않는다 */
    /* padding-right:50px; */
    background-color:skyblue;
}
main .b {
    float:right;
    /* float:left; */
    background-color:pink;
    font-size:3rem;
}
main .c {
    clear:both;
    float:right;
    /* clear:both; */
    /* float:right; */
    background-color:greenyellow;
}